{% extends 'base1.html' %}

{% load bootstrap_toolkit %}
{% block title %}Add Category{% endblock %}

{% block body_block %}
    <div class="page-header">  <h2 class="form-signin-heading">Add a Category </h2> </div>
    <form id="category_form" method="POST" action="/rango/add_category/">
        <!--h2 class="form-signin-heading">Add a Category </h2-->

        {% csrf_token %}
        {{ form|as_bootstrap }}
        <br/>


        <!--input type = "submit" name="submit" value = "Create Category" /-->
     <button class="btn btn-primary" type="submit" name="submit">Create a Category</button>
    </form>
{% endblock %}



<!--not in use-->
       {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}